substitutions:
  device_name: "zaluzje"
  friendly_name: zaluzje
  upper_devicename: zaluzje

esphome:
  name: zaluzje
  friendly_name: zaluzje

esp32:
  board: esp32dev
  framework:
    type: arduino

# Enable logging
logger:
  level: INFO

captive_portal:

web_server:
  port: 80
  version: 3
  sorting_groups:
    - id: sorting_group_time_settings
      name: "Time Settings"
      sorting_weight: 10
    - id: sorting_group_number_settings
      name: "Number settings"
      sorting_weight: 20

font:
  - file: "fonts/Comic Sans MS.ttf"
    id: my_font
    size: 20
    bpp: 2
  - file: "gfonts://Roboto"
    id: roboto20
    size: 20
    extras:
      - file: 'fonts/MaterialIcons-Regular.ttf'
        glyphs: [
          "\U0000E1BA",
          "\U0000E1DA",
          "\U0000E314",
          "\U0000E315",
          "\U0000E88A",
          "\U0000E316", # arrow_upward
          "\U0000E313", # arrow_downward
          "\U0000E047", # stop
          ]

spi:
  - id: tft
    clk_pin: 14
    mosi_pin: 13
    miso_pin:
      number: 12
      ignore_strapping_warning: true
  - id: touch
    clk_pin: 25
    mosi_pin: 32
    miso_pin: 39

output:
  - id: backlight_pwm
    platform: ledc
    pin: 21
  - id: output_red
    platform: ledc
    pin: 4
    inverted: true
  - id: output_green
    platform: ledc
    pin: 16
    inverted: true
  - id: output_blue
    platform: ledc
    pin: 17
    inverted: true

light:
  - id: display_backlight
    platform: monochromatic
    output: backlight_pwm
    name: Display Backlight
    restore_mode: ALWAYS_ON
  - id: led
    platform: rgb
    red: output_red
    green: output_green
    blue: output_blue
    restore_mode: ALWAYS_OFF

display:
  - platform: ili9xxx
    model: ILI9341
    spi_id: tft
    cs_pin:
      number: 15
      ignore_strapping_warning: true
    dc_pin:
      number:  2
      ignore_strapping_warning: true
    invert_colors: false
    color_order: rgb
    update_interval: never
    auto_clear_enabled: false
    rotation: 0
    dimensions:
      height: 240
      width: 320

touchscreen:
  platform: xpt2046
  spi_id: touch
  cs_pin: 33
  interrupt_pin: 36
  threshold: 400
  calibration:
    x_min: 364
    x_max: 3793
    y_min: 276
    y_max: 3748
  transform:
    mirror_x: true
    mirror_y: true
    swap_xy: true
  #on_touch:
  #  - lambda: |-
  #        ESP_LOGI("cal", "x=%d, y=%d, x_raw=%d, y_raw=%0d",
  #            touch.x,
  #            touch.y,
  #            touch.x_raw,
  #            touch.y_raw
  #            );
  on_release:
      then:
        - if:
            condition: lvgl.is_paused
            then:
              - light.turn_on: 
                  id: display_backlight
                  transition_length: 1s
              - lvgl.resume:
              - lvgl.widget.redraw:

lvgl:
  id: lvgl_disp
  buffer_size: 10%
  theme:
    label:
      text_font: roboto20
    button:
      bg_color: 0x2F8CD8
      bg_grad_color: 0x005782
      bg_grad_dir: VER
      bg_opa: COVER
      border_color: 0x0077b3
      border_width: 1
      text_color: 0xFFFFFF
      pressed:
        bg_color: 0x006699
        bg_grad_color: 0x00334d
      checked:
        bg_color: 0x1d5f96
        bg_grad_color: 0x03324A
        text_color: 0xfff300
    buttonmatrix:
      bg_opa: TRANSP
      border_color: 0x0077b3
      border_width: 0
      text_color: 0xFFFFFF
      pad_all: 0
      items:
        bg_color: 0x2F8CD8
        bg_grad_color: 0x005782
        bg_grad_dir: VER
        bg_opa: COVER
        border_color: 0x0077b3
        border_width: 1
        text_color: 0xFFFFFF
        text_font: roboto20
        pressed:
          bg_color: 0x006699
          bg_grad_color: 0x00334d
        checked:
          bg_color: 0x1d5f96
          bg_grad_color: 0x03324A
          text_color: 0x005580
  
  pages:
    - id: page_roleta1
      widgets:
        - obj:
            width: 320
            height: 240
            bg_color: 0x000000
            widgets:
              - label:
                  text: "Roleta 1"
                  align: TOP_MID
                  y: 0
                  text_color: 0xFFFFFF
                  text_font: roboto20
              - obj:
                  x: 5
                  y: 30
                  width: 280
                  height: 100
                  bg_color: 0x1a1a1a
                  border_width: 2
                  border_color: 0x0077b3
                  widgets:
                    - buttonmatrix:
                        id: cover1_btns
                        align: CENTER
                        y: 0
                        width: 240
                        height: 60
                        rows:
                        - buttons:
                            - id: cover1_up
                              text: "\U0000E316"
                              on_press:
                                then:
                                  - lambda: |-
                                      auto call = id(cover1).make_call();
                                      call.set_command_open();
                                      call.perform();
                            - id: cover1_stop
                              text: "\U0000E047"
                              on_press:
                                then:
                                  - lambda: |-
                                      auto call = id(cover1).make_call();
                                      call.set_command_stop();
                                      call.perform();
                            - id: cover1_down
                              text: "\U0000E313"
                              on_press:
                                then:
                                  - lambda: |-
                                      auto call = id(cover1).make_call();
                                      call.set_command_close();
                                      call.perform();
              - buttonmatrix:
                  id: nav1_btns
                  align: BOTTOM_MID
                  y: -10
                  width: 280
                  height: 40
                  rows:
                  - buttons:
                      - id: nav1_prev
                        text: "\U0000E314 Prev"
                        on_press:
                          then:
                            - lvgl.page.show: page_roleta_all
                      - id: nav1_next
                        text: "Next \U0000E315"
                        on_press:
                          then:
                            - lvgl.page.show: page_roleta2
    - id: page_roleta2
      widgets:
        - obj:
            width: 320
            height: 240
            bg_color: 0x000000
            widgets:
              - label:
                  text: "Roleta 2"
                  align: TOP_MID
                  y: 5
                  text_color: 0xFFFFFF
                  text_font: roboto20
              - obj:
                  x: 5
                  y: 30
                  width: 280
                  height: 100
                  bg_color: 0x1a1a1a
                  border_width: 2
                  border_color: 0x0077b3
                  widgets:
                    - buttonmatrix:
                        id: cover2_btns
                        align: CENTER
                        y: 0
                        width: 240
                        height: 60
                        rows:
                        - buttons:
                            - id: cover2_up
                              text: "\U0000E316"
                              on_press:
                                then:
                                  - lambda: |-
                                      auto call = id(cover2).make_call();
                                      call.set_command_open();
                                      call.perform();
                            - id: cover2_stop
                              text: "\U0000E047"
                              on_press:
                                then:
                                  - lambda: |-
                                      auto call = id(cover2).make_call();
                                      call.set_command_stop();
                                      call.perform();
                            - id: cover2_down
                              text: "\U0000E313"
                              on_press:
                                then:
                                  - lambda: |-
                                      auto call = id(cover2).make_call();
                                      call.set_command_close();
                                      call.perform();
              - buttonmatrix:
                  id: nav2_btns
                  align: BOTTOM_MID
                  y: -10
                  width: 280
                  height: 40
                  rows:
                  - buttons:
                      - id: nav2_prev
                        text: "\U0000E314 Prev"
                        on_press:
                          then:
                            - lvgl.page.show: page_roleta1
                      - id: nav2_next
                        text: "Next \U0000E315"
                        on_press:
                          then:
                            - lvgl.page.show: page_roleta_all

    - id: page_roleta_all
      widgets:
        - obj:
            width: 320
            height: 240
            bg_color: 0x000000
            widgets:
              - label:
                  text: "Wszystkie"
                  align: TOP_MID
                  y: 5
                  text_color: 0xFFFFFF
                  text_font: roboto20
              - obj:
                  x: 5
                  y: 30
                  width: 280
                  height: 100
                  bg_color: 0x1a1a1a
                  border_width: 2
                  border_color: 0x0077b3
                  widgets:
                    - buttonmatrix:
                        id: cover_all_btns
                        align: CENTER
                        y: 0
                        width: 240
                        height: 60
                        rows:
                        - buttons:
                            - id: all_open
                              text: "\U0000E316"
                              on_press:
                                then:
                                  - lambda: |-
                                      auto call1 = id(cover1).make_call();
                                      call1.set_command_open();
                                      call1.perform();
                                      auto call2 = id(cover2).make_call();
                                      call2.set_command_open();
                                      call2.perform();
                            - id: all_stop
                              text: "\U0000E047"
                              on_press:
                                then:
                                  - lambda: |-
                                      auto call1 = id(cover1).make_call();
                                      call1.set_command_stop();
                                      call1.perform();
                                      auto call2 = id(cover2).make_call();
                                      call2.set_command_stop();
                                      call2.perform();

                            - id: all_close
                              text: "\U0000E313"
                              on_press:
                                then:
                                  - lambda: |-
                                      auto call1 = id(cover1).make_call();
                                      call1.set_command_close();
                                      call1.perform();
                                      auto call2 = id(cover2).make_call();
                                      call2.set_command_close();
                                      call2.perform();

              - buttonmatrix:
                  id: nav_all_btns
                  align: BOTTOM_MID
                  y: -10
                  width: 280
                  height: 40
                  rows:
                  - buttons:
                      - id: nav_all_prev
                        text: "\U0000E314 Prev"
                        on_press:
                          then:
                            - lvgl.page.show: page_roleta2
                      - id: nav_all_next
                        text: "Next \U0000E315"
                        on_press:
                          then:
                            - lvgl.page.show: page_roleta1

i2c:
  sda: GPIO27
  scl: GPIO22
  scan: true
  id: bus_a
  frequency: 100kHz

pca9554:
  - id: 'pca9554_hub0' #0 up 1 down 2 up 3 down 4 in1 5 in2 6 in3 7 in4
    address: 0x20
    #open_drain_interrupt: true
    #interrupt: GPIO35
switch:
  - platform: restart
    name: "$friendly_name restart"
  - platform: shutdown
    name: "$friendly_name shutdown"
  - platform: safe_mode
    name: "$friendly_name restart (Safe Mode)"
#-----------------------------
  - platform: gpio
    id: relay_1
    name: "pca9554 1 Pin #0 relay_1 UP"
    interlock: relay_2
    pin:
      pca9554: pca9554_hub0
      # Use pin number 0
      number: 0
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "pca9554 1 Pin #1 relay_2 DOWN"
    id: relay_2
    interlock: relay_1
    pin:
      pca9554: pca9554_hub0
      # Use pin number 1
      number: 1
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "pca9554 1 Pin #2 relay_3 UP"
    id: relay_3
    interlock: relay_3
    pin:
      pca9554: pca9554_hub0
      # Use pin number 2
      number: 2
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "pca9554 1 Pin #3 relay_4 DOWN"
    id: relay_4
    interlock: relay_3
    pin:
      pca9554: pca9554_hub0
      # Use pin number 3
      number: 3
      mode:
        output: true
      inverted: false

binary_sensor:

  - platform: gpio
    name: "pca9554 1 Pin #4 IN1"
    pin:
      pca9554: pca9554_hub0
      # Use pin number 4
      number: 4
      # One of INPUT or INPUT_PULLUP
      mode:
        input: true
      inverted: true
    on_click:
      - min_length: 50ms
        max_length: 5000ms
        then:
          - lambda: |-
              if (id(cover1).current_operation == COVER_OPERATION_OPENING){
                auto call = id(cover1).make_call();
                call.set_command_stop();
                call.perform(); 
              }
              else {
                auto call = id(cover1).make_call();
                call.set_command_open();
                call.perform(); 
                }
      - min_length: 5000ms
        max_length: 10000ms
        then:
          - lambda: |-
              auto call1 = id(cover1).make_call();
              call1.set_command_open();
              call1.perform();
              auto call2 = id(cover2).make_call();
              call2.set_command_open();
              call2.perform();
  - platform: gpio
    name: "pca9554 1 Pin #5 IN2"
    pin:
      pca9554: pca9554_hub0
      # Use pin number 5
      number: 5
      # One of INPUT or INPUT_PULLUP
      mode:
        input: true
      inverted: true
    on_click:
      - min_length: 50ms
        max_length: 5000ms
        then:
          - lambda: |-
              if (id(cover1).current_operation == COVER_OPERATION_CLOSING){
                auto call = id(cover1).make_call();
                call.set_command_stop();
                call.perform(); 
              }
              else {
                auto call = id(cover1).make_call();
                call.set_command_close();
                call.perform(); 
                }
      - min_length: 5000ms
        max_length: 10000ms
        then:
          - lambda: |-
              auto call1 = id(cover1).make_call();
              call1.set_command_close();
              call1.perform();
              auto call2 = id(cover2).make_call();
              call2.set_command_close();
              call2.perform();
  - platform: gpio
    name: "pca9554 1 Pin #6 IN3"
    pin:
      pca9554: pca9554_hub0
      # Use pin number 6
      number: 6
      # One of INPUT or INPUT_PULLUP
      mode:
        input: true
      inverted: true
    on_click:
      - min_length: 50ms
        max_length: 5000ms
        then:
          - lambda: |-
              if (id(cover2).current_operation == COVER_OPERATION_OPENING){
                auto call = id(cover2).make_call();
                call.set_command_stop();
                call.perform(); 
              }
              else {
                auto call = id(cover2).make_call();
                call.set_command_open();
                call.perform(); 
                }
      - min_length: 5000ms
        max_length: 10000ms
        then:
          - lambda: |-
              auto call1 = id(cover1).make_call();
              call1.set_command_open();
              call1.perform();
              auto call2 = id(cover2).make_call();
              call2.set_command_open();
              call2.perform();
  - platform: gpio
    name: "pca9554 1 Pin #7 IN4"
    pin:
      pca9554: pca9554_hub0
      # Use pin number 7
      number: 7
      # One of INPUT or INPUT_PULLUP
      mode:
        input: true
      inverted: true
    on_click:
      - min_length: 50ms
        max_length: 5000ms
        then:
          - lambda: |-
              if (id(cover2).current_operation == COVER_OPERATION_CLOSING){
                auto call = id(cover2).make_call();
                call.set_command_stop();
                call.perform(); 
              }
              else {
                auto call = id(cover2).make_call();
                call.set_command_close();
                call.perform(); 
                }
      - min_length: 5000ms
        max_length: 10000ms
        then:
          - lambda: |-
              auto call1 = id(cover1).make_call();
              call1.set_command_close();
              call1.perform();
              auto call2 = id(cover2).make_call();
              call2.set_command_close();
              call2.perform();


cover:
  - platform: time_based
    name: "Roleta 1"
    id: cover1

    open_action:
      - switch.turn_on: relay_1
    open_duration: 2.1min

    close_action:
      - switch.turn_on: relay_2
    close_duration: 2min

    stop_action:
      - switch.turn_off: relay_1
      - switch.turn_off: relay_2
  - platform: time_based
    name: "Roleta 2"
    id: cover2

    open_action:
      - switch.turn_on: relay_3
    open_duration: 2.1min

    close_action:
      - switch.turn_on: relay_4
    close_duration: 2min

    stop_action:
      - switch.turn_off: relay_3
      - switch.turn_off: relay_4
